@mixin glassMorph {
	box-shadow: 0 -2px 0px rgba(255, 255, 255, 0.15),
				1px -1px 1px transparent;

}

@mixin glassMorphHover($color){
	box-shadow: 0 -2px 0px rgba(255,255,255,0.15),
				0 -20px 130px $color;
}

@mixin flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@mixin fontSmall {
	font-size: 0.5rem;
}

@mixin fontMedium {
	font-size: 0.75rem;
}

@mixin scrollbar {

		&::-webkit-scrollbar {
			width: 6px;
	  	}
	   
		&::-webkit-scrollbar-track {
			background: rgba(0,0,0,0.25);
	  	}
	   
		&::-webkit-scrollbar-thumb {
			background: rgba(0,0,0,0.45);
	  	}

	scrollbar-color: rgba(0,0,0,0.45) rgba(0,0,0,0.25);
  	scrollbar-width: thin;
}
