:root {

	--stepHeight: calc(100vh - 180px);
	--margeSmall: 0.5rem;
	--margeMedium: 0.75rem;
	--margeBig: 1.25rem;
	
	--borderRadiusMedium: 30px;
	--borderRadiusSmall: 15px;

	--transitionDurationMedium: 0.3s;
	--transitionDurationShort: 0.18s;
	--transitionDurationLong: 0.7s;

	--bg-overlay-white-1: rgba(255,255,255,0.025);
	--bg-overlay-white-2: rgba(255,255,255,0.05);
	--bg-overlay-white-3: rgba(255,255,255,0.075);
	--bg-overlay-white-4: rgba(255,255,255,0.1);

	--navbarIconWidth: 38px;
	--navbarIconBorderRadius: 8px;
}