:root {

	--stepHeight: calc(100vh - 180px);
	--margeSmall: 0.5rem;
	--margeMedium: 0.75rem;
	--margeBig: 1.25rem;
	
	--borderRadiusBig: 60px;
	--borderRadiusMedium: 30px;
	--borderRadiusSmall: 15px;
	--borderRadiusSmallest: 8px;

	--scrollbar-width: 5px;

	--transitionDurationMedium: 0.3s;
	--transitionDurationShort: 0.18s;
	--transitionDurationLong: 0.7s;

	--bg-white-015: rgba(255,255,255,0.015);
	--bg-white-05: rgba(255,255,255,0.05);
	--bg-white-15: rgba(255,255,255,0.15);
	--bg-white-25: rgba(255,255,255,0.25);
	--bg-white-35: rgba(255,255,255,0.35);
	--bg-white-45: rgba(255,255,255,0.45);
	--bg-white-55: rgba(255,255,255,0.55);

	--bg-white-65: rgba(255,255,255,0.65);
	--bg-white-70: rgba(255,255,255, 0.7);
	--bg-white-75: rgba(255,255,255,0.75);
	--bg-white-80: rgba(255,255,255, 0.8);
	--bg-white-85: rgba(255,255,255,0.85);
	--bg-white-90: rgba(255,255,255, 0.9);
	--bg-white-95: rgba(255,255,255,0.95);
	--bg-white-100: #ffffff;



	--bg-white-45: rgba(255,255,255, 0.45);
	--bg-white-40: rgba(255,255,255, 0.4);



	--bg-black-85: rgba(0,0,0, 0.85);
	--bg-black-75: rgba(0,0,0, 0.75);
	--bg-black-65: rgba(0,0,0, 0.65);
	--bg-black-55: rgba(0,0,0, 0.55);
	--bg-black-45: rgba(0,0,0, 0.45);
	--bg-black-35: rgba(0,0,0, 0.45);
	--bg-black-25: rgba(0,0,0, 0.25);
	--bg-black-15: rgba(0,0,0, 0.15);
	--bg-black-05: rgba(0,0,0, 0.05);



	

	--navbarIconWidth: 38px;
	--navbarIconBorderRadius: 8px;
}