:root {
	--margeSmall: 0.5rem;
	--margeMedium: 0.75rem;
	--margeBig: 1.25rem;
	
	--borderRadiusMedium: 30px;
	--borderRadiusSmall: 15px;

	--transitionDurationMedium: 0.3s;
	--transitionDurationShort: 0.18s;
	--transitionDurationLong: 0.7s;

	--bg-overlay-white-1: rgba(255,255,255,0.025);
}